head(lang="en")
  link(href="public/assets/style/components/reset.min.css")
  //- link(href="public/assets/style/components/site.min.css")
  //- link(href="public/assets/style/components/button.min.css")
  //- link(href="public/assets/style/components/container.min.css")
  //- link(href="public/assets/style/components/divider.min.css")
  //- link(href="public/assets/style/components/text.min.css")
  //- link(href="public/assets/style/components/toast.min.css")
  //- link(href="public/assets/style/components/transition.min.css")
  link(href="public/assets/style/semantic.min.css")
  script(src='https://code.jquery.com/jquery-3.4.1.min.js')
  script(src='public/assets/style/semantic.min.js')
  title!=title

  body
    div.ui.container
      h1!=message
    div.ui.container
      p!=content
