head
  link(href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js')
  title!=title

  body
    div.ui.container
      h1!=message
    div.ui.container
      p!=content
